html,body{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    width: 98%;
}

.home_page{
    background: linear-gradient(to bottom, #1C1C1C 40%, #363636 60%, #cdcdcd 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
}

.header{
    color: aliceblue;
    text-align: center;
}

.fly-chicken-fly {
    /* Additional specific information for section fly chicken fly */
    animation: moveUp 1s ease-in-out forwards;
}

.event_ease{
    animation: moveUp 1s ease-in-out forwards;
}

@keyframes moveUp {
    from {
        transform: translateY(100%); /* Start off-screen at the bottom */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* End at the original position */
        opacity: 1;
    }
}

.image_container{
    position: relative;
    width: inherit;
    height: 100%;
    overflow: hidden;
    right: 5%;
}

.chicken_img{
    border-top: 10px;
    max-height: 800px;
    position: relative;
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
}

.event_image_container{
    position: relative;
    max-height: 65vh;
    height: 100%;
    overflow: hidden;
    right: 15%;
}

.event_img{
    position: relative;
    max-height: inherit;
    max-width: 100%;
}

.content{
    margin-left: 35px;
    margin-right: 100px;
    align-self: flex-start;
    color: rgb(201, 222, 230);
}

.title {
    font-size: 2.5em;
    margin-left: 30px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}

.section_left{
    position: absolute;
    top: 40%;
    scale: 0.5;
    margin-left: 10px;
    z-index: 1;
    opacity: 0.8;  /*make the icon transparent*/
}

.section_right{
    position: absolute;
    top: 40%;
    left: 93%;
    scale: 0.5;
    z-index: 1;
    opacity: 0.8;  /*make the icon transparent*/
    margin-right: 10px;
}

.image_left{
    position: relative;
    z-index: 1;
    opacity: 0.8;  /*make the icon transparent*/
    transform: translateX(-60%) scale(0.1); /* Initial position and scale */
    height: 100%;
}

.image_right{
    position: relative;
    z-index: 1;
    opacity: 0.8;  /*make the icon transparent*/
    transform: translateX(60%) scale(0.1); /* Initial position and scale */
    height: 100%;
}

.bluring_left{
    height: 100%;
    width: 10%;
    position: absolute;
    max-height: 100%; /* Ensure image does not exceed container width */
    z-index: 1; /*make it able to be hover */
    /* opacity: 0.6; 
    background: linear-gradient(to right,#1C1C1C 40%, #363636 60%, #cdcdcd 100%); */
}

.bluring_right{
    height: 100%;
    width: 10%;
    position: absolute;
    right: 0%;
    max-height: 100%; /* Ensure image does not exceed container width */
    z-index: 1; /*make it able to be hover */
    /* opacity: 0.6; 
    background: linear-gradient(to right,#1C1C1C 40%, #363636 60%, #cdcdcd 100%); */
}

.event_image_right{
    position: relative;
    z-index: 1;
    opacity: 0.8;  /*make the icon transparent*/
    transform: translateX(60%) scale(0.1); /* Initial position and scale */
    height: 100%;
}

.bluring_left:hover .image_left{
    transform: translateX(-43%) scale(0.1); /* Move to the left and keep the scale */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.bluring_right:hover .image_right{
    transform: translateX(-43%) scale(0.1); /* Move to the left and keep the scale */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.bluring_right:hover .event_image_right{
    transform: translateX(-51%) scale(0.1); /* Move to the left and keep the scale */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

